@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* 默认亮色主题 */
@layer base {
  :root {
    --bg-color: #ffffff;
    --text-color: #4b5563; /* gray-600 */
    --border-color: #e5e7eb; /* gray-200 */
  }

  /* 暗色模式 */
  .dark {
    --bg-color: #0a0a0a;
    --text-color: #d1d5db; /* gray-300 */
    --border-color: #1f2937; /* gray-800 */
  }

  body {
    @apply antialiased transition-colors duration-300;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

/* 统一滚动条 */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 999px;
  }
  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
